$height-line: 2px;

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    &-icon {
        padding-right: 15px;
        color: var(--white-color);
        cursor: pointer;
        height: 100%;
        vertical-align: center;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
    &-header {
        display: none;
    }
    &-logo {
        width: 105px;
    }
    &-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex: 2;
        padding-left: 50px;
        margin-left: -15px;
        flex: 2;
    }
    &-item {
        // margin-right: 12px;
    }
    &-link {
        color: var(--white-color);
        text-transform: uppercase;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 10px;
        line-height: 1rem;
        font-weight: 400;
        position: relative;
        margin: 5px;
        &::after {
            position: absolute;
            content: '';
            background-color: var(--primary-color);
            height: $height-line;
            bottom: -$height-line;
            border-radius: 2px;
            right: 0px;
            width: 0;
            transition: 0.2s;
        }
        &.active::after {
            left: 0;
            width: 100%;
        }
        &:hover::after {
            left: 0;
            width: 100%;
        }
    }
}
