.wrapper {
    .slick-slide {
        //     border: 1px solid #000;
    }
}
.slider {
    height: 100px;
    & div {
        height: 100%;
    }
}

.item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100%;
}
