.wrapper {
    margin-top: var(--header-height);
}
.title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 50px;
}
.title,
.text-primary,
.text {
    text-align: center;
}
.text-primary {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-size: 500;
}

.text {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--text-color-2);
}
.map {
    margin-top: 20px;
}
