.wrapper {
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 7.5px 15px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    align-items: center;
    color: var(--black);
    font-family: var(--font-family);
    transition: 0.5s;

    // & + .wrapper {
    //     margin-left: 8px;
    // }
    &.disabled {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
    }
}
.full {
    width: 100%;
}
.rouded {
    border-radius: 100px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.fill {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    &:hover {
        background-color: transparent;
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    &.primary {
        border-color: var(--primary-color);
        // background-color: var(--primary-color);
        color: var(--white-color);
        &:hover {
            background-color: transparent;
            border-color: var(--primary-color);
            color: var(--primary-color);
        }
    }
    &.secondary {
        border-color: var(--secondary-color);
        // background-color: var(--secondary-color);
        color: var(--white-color);
        &:hover {
            background-color: transparent;
            border-color: var(--secondary-color);
            color: var(--secondary-color);
        }
    }
}

.outline {
    color: var(--white-color);
    border-color: var(--white-color);

    &:hover {
        color: var(--primary-color);
        border-color: var(--white-color);
        background-color: var(--white-color);
    }
    &.primary {
        border-color: var(--primary-color);
        // background-color: var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: var(--white-color);
        }
    }
    &.secondary {
        border-color: var(--secondary-color);
        // background-color: var(--secondary-color);
        color: var(--secondary-color);
        &:hover {
            background-color: var(--secondary-color);
            border-color: var(--secondary-color);
            color: var(--white-color);
        }
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 150px;
}

.text {
    &:hover {
        text-decoration: underline;
    }
}
.left-icon,
.right-icon {
    display: inline-block;
    min-width: 20px;
    text-align: left;
}
.right-icon {
    margin-left: 10px;
}
.left-icon {
    margin-right: 10px;
}
