.wrapper {
}
.top {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--text-color-3);
    align-items: center;
    min-height: 40px;
    .filter {
        .number {
            color: var(--text-color);
        }
    }
    .sort {
        display: flex;
        align-items: center;
        .select {
            margin-left: 10px;
        }
    }
}
.list {
    margin-top: 20px;
    padding-left: 0;
}
