.wrapper {
    margin: auto;
    display: block;
    width: 100%;
    margin-top: 60px;
}
.title {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
}

.category {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
    &__item {
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background-color: var(--primary-color);
            height: 2px;
            border-radius: 2px;
            right: 0px;
            width: 0;
            transition: 0.2s;
        }
        &.active::after {
            left: 0;
            width: 100%;
        }
        &:hover::after {
            left: 0;
            width: 100%;
        }

        h3 {
            color: var(--text-color-2);
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }
}
@media (max-width: 400px) {
    .category {
        flex-direction: column;
        align-items: center;
    }
}
.product-list {
    margin: 20px 0;
    position: relative;
}

//custom arow of slider

.next-slick-arrow,
.prev-slick-arrow {
    position: relative;
    font-size: 3rem;
    color: var(--text-color-2);
}
.next-slick-arrow {
    right: -50px;
}

.prev-slick-arrow {
    left: -50px;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    background-color: transparent;
    font-size: 3rem;
    padding: 10px;
    color: var(--text-color-2);
    cursor: pointer;
    &:hover {
        color: var(--text-color);
    }
}
.btn-prev {
    left: -50px;
}
.btn-next {
    right: -50px;
}
