$distanceElement: 15px;

.wrapper {
    margin-left: auto;
    align-items: center;
    height: 100%;
}
.right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    height: 100%;
}
.favorite,
.cart {
    font-size: 2.5rem;
    color: var(--white-color);
    padding: 0 $distanceElement;
}
.favorite {
    &.active {
        color: var(--primary-color);
    }
}

.search {
    margin-right: $distanceElement;
    color: var(--white-color);
    border-bottom: 1px solid var(--white-color);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 250px;

    &-input {
        // flex: 2;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 10px;
        color: #ffffff !important;
        font-size: 1.4rem;
        font-weight: 400;
        &::placeholder {
            color: var(--white-color);
            opacity: 0.9;
        }
        &::selection {
            background-color: var(--primary-color);
        }
    }
    &-icon {
        font-size: 2rem;
        padding: 0 10px;
        color: var(--white-color);
    }
}

.cart {
    display: block;
    padding-right: 0;
    position: relative;
    color: var(--white-color);
    cursor: pointer;
    &-icon {
        color: var(--white-color);
        font-size: 2.5rem;
    }
    &.active {
        color: var(--primary-color);
    }
    &-quantity {
        color: var(--white-color);
        position: absolute;
        font-size: 1.2rem;
        background-color: var(--secondary-color);
        width: 16px;
        height: 16px;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        right: -5px;
        border: 2px solid;
    }
}
