$distanceElement: 15px;

.wrapper {
    margin-left: auto;
    align-items: center;
    height: 100%;
}
.right-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    height: 100%;
}
.favorite,
.cart {
    font-size: 2.5rem;
    color: var(--white-color);
    padding: 0 $distanceElement;
}
.favorite {
    &.active {
        color: var(--primary-color);
    }
}

.search {
    margin-right: $distanceElement;
    color: var(--white-color);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.cart {
    display: block;
    padding-right: 0;
    position: relative;
    color: var(--white-color);
    cursor: pointer;
    &-icon {
        color: var(--white-color);
        font-size: 2.5rem;
    }
    &.active {
        color: var(--primary-color);
    }
    &-quantity {
        color: var(--white-color);
        position: absolute;
        font-size: 1.2rem;
        background-color: var(--secondary-color);
        top: 0px;
        left: 30px;
        padding: 0 5px;
        min-width: 20px;
        height: 20px;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
    }
}
