.wrapper {
    width: 100%;
    color: var(--text-color-3);
    margin-top: 100px;
}
.thumb {
    width: 100%;
    height: 450px;
    // background-color: #ededed;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .full-size {
        position: absolute;
        bottom: 10px;
        right: 50px;
        border: none;
        background-color: rgba(153, 153, 153, 0.092);
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
            background-color: var(--primary-color);
            color: var(--white-color);
        }
    }
}
.btn-add {
    margin-right: 10px;
    margin-bottom: 10px;
}

.details {
    font-weight: 300;
    font-size: 1.4rem;
    .title {
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 400;
        margin-bottom: 10px;
    }
    .rate {
        margin: 0;
        margin-bottom: 10px;
    }
    .price {
        display: block;
        color: var(--primary-color);
        font-size: 2.5rem;
        font-weight: 400;
    }
    .description {
        color: var(--text-color-3);
        font-weight: 300;
        font-size: 1.4rem;
    }
    .categories {
        font-size: 1.4rem;
    }
}

.quantity {
    color: var(--text-color-3);
    margin-bottom: 20px;
    .input-group {
        margin-left: 40px;
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 130px;
        input[type='number']::-webkit-inner-spin-button,
        input[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
        input {
            outline: none;
            width: 100%;
            text-align: center;
            border: 1px solid var(--text-color-3);
            padding: 5px 20px;
        }
        &__prepend,
        &__append {
            border: none;
            background-color: transparent;
            cursor: pointer;
            padding: 5px;
        }
        &__prepend {
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
        }
        &__append {
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }
}
.list-icon {
    display: inline-flex;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        display: inline-block;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            margin-left: 10px;
            transition: 0.2s;
            cursor: pointer;
            &:hover {
                border-color: var(--primary-color);
            }
            &.facebook {
                color: #1097f4;
            }
            &.instagram {
                color: #d12c70;
            }
            &.youtube {
                color: #f20000;
            }
        }
    }
}
