$paddingItem: 16px;
$paddingRL: 30px;
$paddingWrapper: calc(22px - $paddingItem) 0 22px 0;

.wrapper {
    background-color: var(--white-color);
    padding: $paddingWrapper;
    width: 300px;
    max-height: 406px;
    border-radius: var(--round-main);
    position: relative;
    &::after {
        position: absolute;
        content: '';
        // background-color: red;
        z-index: 10;
        width: 40%;
        height: 70px;
        top: -25px;
        right: 0;
    }
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 279px;
    overflow-y: auto;
}

.item {
    border-bottom: 1px solid rgba(153, 153, 153, 0.123);
    list-style: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
    padding: $paddingItem $paddingRL;

    &:hover {
        background-color: rgba(236, 236, 236, 0.27);
    }
}

//dropdown item
.link {
    display: flex;
    align-items: center;
    flex: 2 !important;
    .info {
        flex: 2;
    }
    .title {
        font-weight: 400;
        font-size: 1.4rem;
        color: var(--text-color);
        text-transform: capitalize;
        display: -webkit-box;
        // max-width: 400px;
        line-height: 2rem;
        height: 60px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .money {
        font-size: 1.4rem;
        color: var(--text-color-3);
    }
    .right__info {
        display: flex;
        align-items: center;
        .thumb__img {
            width: 60px;
        }
    }
}

.delete {
    color: var(--text-color-3);
    transition: 0.2s;
    padding: 10px 0 10px 10px;
    z-index: 99;
    position: relative;
    cursor: pointer;
    font-size: 1.8rem;
    &:hover {
        color: rgba(255, 0, 0, 0.329);
        font-weight: 700;
    }
}

.footer {
    padding: 0 $paddingRL;
}

.total {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.6rem;
}

//btn
.btn__group {
    // padding: $p;
    display: flex;
    justify-content: space-between;
    span {
        font-weight: 400 !important;
        font-size: 1.3rem;
    }
}

.empty {
    img {
        width: 100%;
    }
    h3 {
        padding: $paddingItem;
        font-size: 1.6rem;
        text-align: center;
        color: var(--text-color-2);
        text-transform: capitalize;
    }
}
